#app-view-card .badge-carbon{
    background-color: #00748d;
    color: White;
  }
  
#app-view-card .badge-metal{
    background-color: #6c757e;
    color: White;
  }
  
#app-view-card .badge-glass{
    background-color: DarkKhaki;
    color:Black;
  }

#app-view-card .control-orange{
    background-color: White;
    color:DarkOrange;
    border: 1px solid DarkOrange;
  }